html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  min-width: 300px;
  overflow-x: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.icon {
  width: 2em;
  height: 2em;
}

label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0 !important;
}

.table thead th {
  padding-bottom: 0;
  padding-top: 0;
}
.loading {
  background-image: url(assets/spinner.gif);
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  width: 100%;
}
