.create-test-container {
  background-color: #fff;
  height: 100%;
  border-radius: 25px;
}
.create-test-wrapper {
  padding-top: 85px;
  padding-bottom: 56px;
  height: 100%;
}
.test-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;
}
.test-title-header {
  border-bottom: 2px solid green;
}
.tests-list {
  height: calc(100% - 68px);
  overflow-y: auto;
}
tr {
  cursor: pointer;
}
.filter {
  padding: 15px;
}
