<div class="jumbotron create-test-wrapper">
  <div class="container-fluid create-test-container">
    <div class="test-title-header row">
      <div class="test-title col">
        Tests vault
      </div>
      <div class="filter col">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search by name"
          aria-label="Search"
          (keyup)="filterTests($event)"
          (search)="filterTests($event)"
        />
      </div>
    </div>
    <div #loading class="loading"></div>
    <div class="tests-list">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><label>Name</label></th>
            <th><label>Price</label></th>
          </tr>
        </thead>
        <tbody>
          <div
            *ngIf="displayTests.length !== 0; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock>
            <tr *ngFor="let test of displayTests">
              <td (click)="getTest(test.name)">{{ test.name }}</td>
              <td>{{ test.price }}</td>
              <td style="text-align: end; width:8%;">
                <img
                  class="icon pull-right"
                  src="../../assets/remove.png"
                  (click)="deleteTest(test.name)"
                />
              </td>
            </tr>
          </ng-template>
          <ng-template #elseBlock>
            <tr>
              <td></td>
              <td>No records.</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
