<div class="modal-header">
  <h4 class="modal-title">Select a test to add</h4>
  <div></div>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>
          <input
            type="checkbox"
            [checked]="selectedTests.length === availableTests.length"
            (click)="selectAllClick($event)"
          />
        </th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of availableTests">
        <td>
          <input
            type="checkbox"
            [checked]="selectedTests.indexOf(test.id) >= 0"
            (click)="selectTest($event, test)"
          />
        </td>
        <td>{{ test.name }}</td>
        <td>{{ test.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
